<#macro mainlayout pageTitle="${webTitle}" pageCss="" pageJavascript=""
pageBreadCrumbs="" currentMenu="" pageFooter="">
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<title>${pageTitle}</title>
<meta name="viewport"
 content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<!-- Css BEGAIN -->
<#include "../inc/_css.html">
<!-- Css END -->
</head>
<body>
 <div id="wrapper">
  <nav class="navbar navbar-default navbar-static-top" role="navigation"
   style="margin-bottom: 0">
   <#include "../inc/_navbar.html">
   <#include "../inc/_navbarusermenu.html">
   <#include "../inc/_sidebar.html">
  </nav>
  <div id="page-wrapper">
     <#include "../inc/_breadcrumbs.html">
     <#nested>
  </div>
  <!-- /#page-wrapper -->
 </div>
 <!-- /#wrapper -->
 <!-- JavaScript BEGAIN -->
 <#include "../inc/_js.html">
 <!-- JavaScript END -->
</body>
<footer>
<#include "../inc/_footer.html">
</footer>
</html>
</#macro>